$bg-color: #fcfafa;
$primary: #c8d3d5;
$secondary: #6e8387;
$accent: #1d3557;
$text-light: #050315;

$bg-color-dark: #0d1821;
$primary-dark: #344966;
$secondary-dark: #b4cded;
$accent-dark: #f0f4ef;
$text-dark: #FCFAFA;

$primary-darker: darken($primary, 10%);
$primary-lighter: lighten($primary, 10%);

:root {
    font-family: 'Inter', sans-serif;
    color: $text-light;
    background-color: $bg-color;
}